@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@mixin customButton {
    padding: 10px 15px;
    background-color: $deafult-color;
    color: $hovered-color;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid $deafult-color;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition-duration: 0.4s;
    &:hover {
      color: white;
      background-color:black;
      border: 3px solid black;
    }
  }
$deafult-color:#f99f20;
$hovered-color:#2f2f2f;
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.menu{
    display:none;
}
.logo{
    img{
        width:170px;
    }
}
    img{
        width:100px;
    }
    #burger{
        display:flex;
        flex-direction: row;
        float:right;
        margin:-8.8rem 30px;
    }
    .nav{
        background-color: black;
        padding-top:100px;
        /* Top,left,width,height and position is used to put it into fixed position */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Puts it right so we can't see it */
        transform: translateX(100%); 
        transition: transform 0.3s ease;

    &.open {
        transform: translateX(0%);
    }
        #close{
            display:block;
            width:50px;
            float:right;
            margin:-30px 50px;
        }
        text-align: center;
        img{
            width:85px;
            margin:6rem 0rem 20px 20px;
        }
            li{
                margin:1.5rem 0px;
                a{
                    font-size:30px;
                    color:white;
                }
            }
    }

    .news{
        img{
            border-radius:15px;
            margin:30px 0px;
            width:100%;
        }
    }
    .products{
        img{
            margin-bottom:50px;
            width:350px;
        }
        text-align:center;
        margin-top:150px;
        h3{
            margin:1rem 2rem;
        }
        nav{
            li{
                margin:0.5rem 0.3rem;
                display:inline-flex;
                border:0.5px solid black;
                padding:1rem;
            }
            a{
                font-size:13px;
                font-weight: bold;
                color:black;
            }
        }
        .items{
            margin-top:1.5rem;
            padding-top:1.2rem;
            background-color: $hovered-color;
            display:flex;
            flex-direction: column;
            .item{
                
                box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
                img{
                    width:180px;
                }
                padding-top:1rem;
                margin:0.4rem 5rem;
                border-top: 3px solid white;
                border-radius: 20px;
                background-color: white;
                button{
                    @include customButton();
                    width:100%;
                    
                }
            }
            /* Conditional loading message */
            .loading{
                background-color: white;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                display:grid;
                place-items: center;
                img{
                    width:1000px;
                }
            }
        }
    }
@media(min-width:1024px){
    #burger{
        display:none;
    }
    .menu{
        margin-top:-8.9rem;
        margin-right:5rem;
        display:flex;
        float:right;
        li{
            margin:0.7rem 1rem;
            font-size:16px;
        }
        nav{
            a{
                color:black;
            }
        }
        img{
            width:70px;
        }
    }
    .news{
        img{
            margin:30px 15px;
        }
        margin:6rem 2rem;
        #pc{
            width:65%;
        }
        .banner{
            img{
                width:80%;
            }
            margin:0rem 0.6rem;
            display:inline-flex;
            flex-direction: column;
            position: absolute;
        }
    }
    .products{
        margin-top:280px;
        .text{
            img{
                float:Right;
                width:550px;
                margin-top:-11rem;
                margin-right:10rem;
                margin-bottom:-50px;
            }
            margin:3rem 3.5rem;
            text-align: left;
            h1{
                font-size:55px;
            }
            h3{
            font-size:35px;
            margin:0.5rem 0rem;
            width:30%;
            }
        }
        nav{
            li{
                margin-top:20px;
                padding:0.6rem;
            }
                :hover{
                    background-color: $hovered-color;
                    a{
                        color:whitesmoke;
                    }
                }
        }
        .items{
            margin-top:140px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .item{
                position:relative;
                
                h1{
                    font-size: 20px;
                }
                flex-basis:25%;
                margin:1rem 2rem;
            }
        }
    }
}
