@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@mixin customButton {
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: $deafult-color;
    color: $hovered-color;
    font-size: 16px;
    font-weight: bold;
    border: 3px solid $deafult-color;
    border-radius: 5px;
    transition-duration: 0.5s;
    &:hover {
      color: white;
      background-color:black;
      mix-blend-mode: screen;
      border: 3px solid $deafult-color;
      padding: 12px 17px;
    }
  }
$deafult-color:#f99f20;
$hovered-color:#2f2f2f;
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
    text-decoration: none;
}
.menu{
    display:none;
}
.logo{
    img{
        width:170px;
    }
}
    img{
        width:100px;
    }
    #burger{
        display:flex;
        flex-direction: row;
        float:right;
        margin:-8.8rem 30px;
    }
    .nav{
        background-color: black;
        padding-top:100px;
        /* Top,left,width,height and position is used to put it into fixed position */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* Puts it right so we can't see it */
        transform: translateX(100%); 
        transition: transform 0.3s ease;

    &.open {
        transform: translateX(0%);
    }
        #close{
            display:block;
            width:50px;
            float:right;
            margin:-30px 50px;
        }
        text-align: center;
        img{
            width:85px;
            margin:6rem 0rem 20px 20px;
        }
            li{
                margin:1.5rem 0px;
                a{
                    font-size:30px;
                    color:white;
                }
            }
    }

    .news{
        img{
            border-radius:15px;
            margin:5px 0px;
            width:100%;
        }
    }
    .products{
        text-align:center;
        margin-top:100px;
        h3{
            margin:1rem 2rem;
        }
        nav{
            background-color: #f99f20;
            margin:0rem 2rem;
            li{
                padding:1rem;
                border-top:1px solid black;
                border-bottom:1px solid black;
                border-left:1px solid black;
                border-right:1px solid black;
            }
            a{
                font-size:20px;
                color:black;
            }
        }
        .items{
            background-color: grey;
            display:flex;
            flex-direction: column;
            .item{
                img{
                    width:200px;
                }
                margin:0.5rem 5rem;
                border:3px solid white;
                border-radius: 20px;
                background-color: white;
                button{
                    @include customButton();
                }
            }
        }
    }
@media(min-width:1024px){
    #burger{
        display:none;
    }
    .menu{
        margin-top:-8.9rem;
        margin-right:5rem;
        display:flex;
        float:right;
        li{
            margin:0.7rem 1rem;
            font-size:16px;
        }
        nav{
            box-shadow: 5px 5px 3px 2px rgba(0,0,0,0.2);
            a{
                color:black;
            }
        }
        img{
            width:70px;
        }
    }
    .news{
        margin:6rem 2rem;
        #pc{
            width:65%;
        }
        .banner{
            img{
                width:90%;
            }
            margin:0rem 1rem;
            display:inline-flex;
            flex-direction: column;
            position: absolute;
        }
    }
    .products{
        margin-top:250px;
        .text{
            margin:3rem 3rem;
            text-align: left;
            h1{
                font-size:55px;
            }
            h3{
            font-size:35px;
            margin:0.5rem 0rem;
            width:30%;
            }
        }
        nav{
            margin:-12rem 4rem;
            width:40%;
            float:right;
            li{
                padding:0.6rem;
            }
                :hover{
                    background-color: $hovered-color;
                    a{
                        color:whitesmoke;
                    }
                }
        }
        .items{
            overflow-x:scroll;
            flex-direction: row;
        }
    }
}
/* Minor bug for product table */
@media(min-width:1025px) and (max-width:1308px){
    .products{
        nav{
            margin:-15rem 4rem;
        }
    }
}