@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
$background-color:#6f2232;
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style-type: none;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  
    .logo {
        #logo{
            width:150px;
        }
        margin-right: 20px;
    }
  
    .menu {
      display: flex;
      list-style: none;
      li {
        margin-left:2rem;
        margin-right:1rem;
        a {
            text-decoration: none;
            color:black;
            font-size: 1.5rem; 
            display: inline-block;
            &:hover{
                text-decoration: underline;
            }
        }
  
        img {
            margin-top:-1.2rem;
            width:70px;
        }
      }
    }
    .categories{
        li{
            display:block;
            a{
                text-decoration: none;
                color:black;
            }
        }
  }
    .mobilemenu{
        display:none;
        a{
            font-size:1.6rem;
            text-decoration: none;
            color:black;
        }
        img{
            width:90px;
            margin:20px;
        }
    }
  }

  @media (max-width: 1024px){
  header{
    .menu{
        display:none;
    }
    .mobilemenu{
        display:block;
    }
  }
  }
    
  